body{
    background: linear-gradient(#3b45cc 0%,#59a4eb 25%, #7ff0ee 50%, #1d5682 75%,#040a47 100%);
}
.heading{
    width: 80%;
    font-size: 20px;
}
.object{
    color: black;
    font-family: cursive;
}
#camera{
    border: 2px dashed white;
    width: 350px;
    height: 300px;
}
#results, #accuracy,p{
    color: aliceblue;
    font-size: 18px;
    font-weight: bolder;
    font-family: monospace;
}